/* Center All Elements within the panel */

.ui-panel-inner {
    text-align:center;
    color:white;
}

.panel-options a {
    display:block;
    text-decoration:none;
    color:white !important;
    padding:20px 0;
    
}

.edit-grid {
    padding: 40px;
    text-align: center;
}


/* Remove All Hyperlink Underlines */
a {
    text-decoration:none;
}

/* Font Sixe of the Proposal Details Data*/
.proposal-data {
	font-size:1.5em;
}

/*Increased Size and Aligment of Main Proposal Data Column*/
.proposal-data .ui-block-b {
	font-weight:bold;
	text-align:right;
	font-size:2.5em;
}