// ==================================== //
// Antonio Fonts
// ==================================== //


// Bold
@font-face{ 
	font-family: 'Antonio-Bold';
	src: url('fonts/Antonio/antonio-bold-webfont.eot');
	src: url('fonts/Antonio/antonio-bold-webfont.eot?#iefix') format('embedded-opentype'),
	     url('fonts/Antonio/antonio-bold-webfont.woff') format('woff'),
	     url('fonts/Antonio/antonio-bold-webfont.ttf') format('truetype'),
	     url('fonts/Antonio/antonio-bold-webfont.svg#webfont') format('svg');
}

// Regular
@font-face{ 
	font-family: 'Antonio-Regular';
	src: url('fonts/Antonio/antonio-regular-webfont.eot');
	src: url('fonts/Antonio/antonio-regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('fonts/Antonio/antonio-regular-webfont.woff') format('woff'),
	     url('fonts/Antonio/antonio-regular-webfont.ttf') format('truetype'),
	     url('fonts/Antonio/antonio-regular-webfont.svg#webfont') format('svg');
}


// Light
@font-face{ 
	font-family: 'Antonio-Light';
	src: url('fonts/Antonio/antonio-light-webfont.eot');
	src: url('fonts/Antonio/antonio-light-webfont.eot?#iefix') format('embedded-opentype'),
	     url('fonts/Antonio/antonio-light-webfont.woff') format('woff'),
	     url('fonts/Antonio/antonio-light-webfont.ttf') format('truetype'),
	     url('fonts/Antonio/antonio-light-webfont.svg#webfont') format('svg');
}


// ==================================== //
// Raleway Fonts
// ==================================== //


// Bold
@font-face{ 
	font-family: 'Raleway-Bold';
	src: url('fonts/Raleway/raleway-bold-webfont.eot');
	src: url('fonts/Raleway/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
	     url('fonts/Raleway/raleway-bold-webfont.woff') format('woff'),
	     url('fonts/Raleway/raleway-bold-webfont.ttf') format('truetype'),
	     url('fonts/Raleway/raleway-bold-webfont.svg#webfont') format('svg');
}


// Regular
@font-face{ 
	font-family: 'Raleway-Regular';
	src: url('fonts/Raleway/raleway-regular-webfont.eot');
	src: url('fonts/Raleway/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('fonts/Raleway/raleway-regular-webfont.woff') format('woff'),
	     url('fonts/Raleway/raleway-regular-webfont.ttf') format('truetype'),
	     url('fonts/Raleway/raleway-regular-webfont.svg#webfont') format('svg');
}

// Light
@font-face{ 
	font-family: 'Raleway-Light';
	src: url('fonts/Raleway/raleway-light-webfont.eot');
	src: url('fonts/Raleway/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
	     url('fonts/Raleway/raleway-light-webfont.woff') format('woff'),
	     url('fonts/Raleway/raleway-light-webfont.ttf') format('truetype'),
	     url('fonts/Raleway/raleway-light-webfont.svg#webfont') format('svg');
}

// Medium
@font-face{ 
	font-family: 'Raleway-Medium';
	src: url('fonts/Raleway/raleway-medium-webfont.eot');
	src: url('fonts/Raleway/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'),
	     url('fonts/Raleway/raleway-medium-webfont.woff') format('woff'),
	     url('fonts/Raleway/raleway-medium-webfont.ttf') format('truetype'),
	     url('fonts/Raleway/raleway-medium-webfont.svg#webfont') format('svg');
}





